{% extends "base.html" %}

{% block title %}系列信息{% endblock %}
 {% block js %}
{% load static %}

<script src="{% static 'curriculum/jquery-3.3.1.js' %}"></script>
<style>
    .incenter{
         -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        background-color: white;
        opacity: 0.9;
        padding: 30px;
            margin: auto;
        position: relative;
        top: 120px;
        display:inline-block;
          *display:inline;
          *zoom:1;
        }
</style>
{% endblock %}
{% block content %}
<img src="/static/curriculum/image/home1.jpg" style="width: 100%;height: 100%;position: absolute;top: 46px;z-index: -1;">
<div class="incenter">
{% if is_teacher %}
<li><a href="{% url 'my_series_list' %}">我的系列课程</a></li>

{% else %}
<li><a href="{% url 'my_series_list' %}">我参加的系列课程</a></li>

{% endif %}
<li><a href="{% url 'user_info' %}">个人信息</a></li>

{% for i in list %}
<a href="{% url 'play' i.series.id %}">{{ i.name }}</a>
{% endfor %}
</div>
{% endblock %}