{% extends "base.html" %}

{% block title %}系列信息{% endblock %}
 {% block js %}
{% load static %}

<script src="{% static 'curriculum/jquery-3.3.1.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid" style="margin: 0px 15px">
    <div class="row">
        <div class="col-lg-7">
            <div class="thumbnail">
                <img src="/static/curriculum/image/qwe.jpg">
            </div>
        </div>
        <div class="col-lg-5">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-11">
            {% for i in list %}
            <a href="{% url 'play' i.series.id %}"><button style="width: 180px;height:40px">第{{ i.name }}集</button></a>
            <br/>
            {% endfor %}
            {% if add %}
            <a href="{% url 'add_curriculum' series %}">添加课程</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}