
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/static/curriculum/bootstrap337/dist/js/jquery-3.3.1.js"></script>
<script src="/static/curriculum/bootstrap337/dist/js/bootstrap.min.js"></script>
	<!-- <script type="text/javascript" src="back-endPage.js"></script> --> <!-- 后台分页 -->
  <script type="text/javascript" src="/static/curriculum/js/front-endPage.js"></script><!-- 前台分页 -->
  <script type="text/javascript" src="/static/curriculum/js/shujv2.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/curriculum/css/table.css">
<!-- Bootstrap core CSS -->
<link href="/static/curriculum/bootstrap337/less/bootstrap.css" rel="stylesheet">
<![endif]-->
