<!-- Static navbar -->
<style>
        .navul{
            padding-top: 5px;
            color: white;
        }
        .navlogin{
            position: absolute;
            right: 50px;
            top: 5px;
        }
        .navlogo{
            position: relative;
            top: -2px;
        }
        .ninhao{
            position: relative;
            top: 2px;
        }
</style>

<nav>
    <div class="navbar-header navlogo">
      <a class="navbar-brand" href="#">Big Big Play</a>
    </div>
    <div id="navbar" class="">
      <ul class="nav nav-pills navul">
          <li id="home1" role="presentation"><a href="{% url 'index' %}">主页</a></li>
          <li id="play1" role="presentation"><a href="{% url 'play_index' %}">播放</a></li>
          <li id="uplo1" role="presentation"><a href="{% url 'upload' %}">上传文件</a></li>
        </ul>
      <ul class="nav nav-pills navlogin">
        <!--<li><a href="">Default <span class="sr-only">(current)</span></a></li>-->
        <!--<li><a href="">Static top</a></li>-->
        {% if not request.user.is_active %}
        <li><a href="{% url 'login' %}">登陆</a></li>
        <li><a href="{% url 'register' %}">注册</a></li>
        {% else %}
        <li class="ninhao" style="color: white">您好，&nbsp;</li>
        <li><a href="{% url 'user_info' %}" style="text-decoration: none;padding-left: 0px;background-color: #000;">{{ request.user.username }}</a></li>
        <li><a href="{% url 'logout' %}">退出登陆</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
 <!--/.container-fluid -->
</nav>