{% extends "base.html" %}

{% block title %}Create an account{% endblock %}
 {% block js %}
{% load static %}

<script src="{% static 'curriculum/jquery-3.3.1.js' %}"></script>
<style>
  .incenter{
         -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        background-color: white;
        opacity: 0.9;
        padding: 30px;
            margin: auto;
        position: relative;
        top: 40px;
        display:inline-block;
          *display:inline;
          *zoom:1;
        }
      td{
        padding: 5px 5px;
        }
</style>
{% endblock %}
{% block content %}
<div class="incenter">
    <h1>注册</h1>
<a href="{% url 'teacher_register' %}">我是老师</a>
&nbsp;/&nbsp;我是学生
<form action="" method="post">
      {% csrf_token %}
      <table>
          <tr>
              <td>
                  请输入您的11位手机号码:
              </td>
              <td>
                   {{ form.username }}
              </td>
          </tr>
          <tr>
              <td>
                  密码：
              </td>
              <td>
                  {{ form.password1 }}
              </td>
          </tr>
          <tr>
              <td colspan="2">
                    你的密码不能与其他个人信息太相似。<br>
                    你的密码必须包含至少 8 个字符。<br>
                    你的密码不能是大家都爱用的常见密码。<br>
                    你的密码不能全部为数字。
              </td>
          </tr>
          <tr>
              <td>
                  确认密码：
              </td>
              <td>
                  {{ form.password2 }}
              </td>
          </tr>
          <tr>
              <td colspan="2" style="text-align: center">
                  <input type="submit" value="注册" style="width: 100px">
              </td>
          </tr>
      </table>

  </form>
</div>
{% endblock %}