{% extends "base.html" %}
{% block title %}详细信息{% endblock %}
{% block js %}
{% load static %}

<script src="{% static 'curriculum/jquery-3.3.1.js' %}"></script>
<style>
  .incenter{
         -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        background-color: white;
        opacity: 0.9;
        padding: 30px;
            margin: auto;
        position: relative;
        top: 100px;
        display:inline-block;
          *display:inline;
          *zoom:1;
        }
</style>
{% endblock %}
{% block content %}
<div class="incenter">
<h2>用户信息</h2>

<p>{{ user_info.real_name }}</p>


<a href="{% url 'info_fill' %}">填写用户信息</a>
</div>
{% endblock %}